@{
    bool hasErrors = ViewBag.HasErrors ?? false; // default τιμή false
    string errorMessage = ViewBag.ErrorMessage ?? string.Empty; //default τμή τίποτα
}

<link rel="stylesheet" href="~/css/log-sign.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/navbar-footer.css" asp-append-version="true" />

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">

            <div class="d-flex align-items-center search2">
                <a class="navbar-brand" asp-area="" asp-controller="Visitors" asp-action="Index">VresToRestau</a>
            </div>


            <div class="d-flex align-items-center justify-content-end">
                <ul class="navbar-nav flex-grow-1 ">
                    <li class="nav-item">
                        <a class="nav-link active when-inside" asp-area="" asp-controller="Visitors" asp-action="Login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Visitors" asp-action="SignUp">Sign Up</a>
                    </li>
                </ul>
            </div>


        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">


        <div class="out-container @(hasErrors ? "" : "animate__animated animate__fadeInLeft")">
            @*  true ---> empty || false ---> animation *@
            <div class="image-holder">
                <img src="~/images/RestaurantLogo.png" alt="png">
            </div>
            <form asp-action="Login" method="post">
                <h1>Enter your Account</h1>
                <div class="form-without-h1">
                    <div class="form-group">
                        <input name="usernameOrEmail" id="usernameOrEmail" class="form-control" placeholder="Username or Email" required />
                    </div>
                    <div class="form-group-eye">
                        <input name="password" id="password" type="password" class="form-control" placeholder="Password" required>
                        <img src="~/images/closed.png" id="eyeicon3" />
                    </div>
                    <div class="form-group-button">
                        <button type="submit" class="btn btn-primary">Log In</button>
                        <div class="" id="validation-summary">
                            @if (hasErrors)
                            {
                                <div class="text-danger">@errorMessage</div>
                            }
                        </div>

                    </div>
                    <h3>You already have an account? <a class="" asp-controller="Visitors" asp-action="SignUp">Sign Up</a> </h3>
                </div>
            </form>
        </div>


    </main>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function () {
        var validationSummary = document.getElementById("validation-summary");


        if (validationSummary.style.display != "none") {

            setTimeout(function () {
                validationSummary.innerHTML = "";
            }, 10000);
        }
        validationSummary.style.display = "unset";

    });

    let eyeicon3 = document.getElementById("eyeicon3");
    let password3 = document.getElementById("password");

    eyeicon3.onclick = function () {
        if (password3.type == "password") {
            password3.type = "text";
            eyeicon3.src = "/images/opened.png";
        } else {
            password3.type = "password";
            eyeicon3.src = "/images/closed.png";
        }
    }



</script>